In [1]:
import pandas as pd
import numpy as np

In [83]:
f = pd.read_csv('C:/Users/chenyuzhou/Desktop/final.csv')

In [84]:
f['cluster2'].value_counts()

hvc     16094
phvc    15306
rb       7563
pc       3245
lc       1880
Name: cluster2, dtype: int64

In [85]:
f.columns

Index(['user_id', 'order_times', 'order_spend', 'total_comment', 'sub_times',
       'voucher_times', 'cancelled', 'login', 'view_product',
       'add_item_to_cart', 'points_added', 'view_per_login', 'item_per_view',
       'points_per_add', 'spend_per_order', 'cluster', 'cluster2'],
      dtype='object')

In [86]:
c = ['hvc','phvc','rb','pc','lc']

In [87]:
rest=['user_id','order_times', 'order_spend', 'total_comment', 'sub_times',
       'voucher_times', 'cancelled', 'login', 'view_product',
       'add_item_to_cart', 'points_added', 'view_per_login', 'item_per_view',
       'points_per_add', 'spend_per_order', 'cluster']

In [88]:
df = pd.DataFrame(columns=rest)

In [89]:
for i in c:
    r= f[f['cluster2']==i].mean().values
    df.loc[len(df)] = r

C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_3044\2918084075.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  r= f[f['cluster2']==i].mean().values
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_3044\2918084075.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  r= f[f['cluster2']==i].mean().values
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_3044\2918084075.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  r= f[f['cluster2']==i].mean().values
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_3044\2918084075.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  r= f[f['cluster2']==i].mean().values

In [93]:
df = df.drop(columns=['user_id'])

In [94]:
df

,order_times,order_spend,total_comment,sub_times,voucher_times,cancelled,login,view_product,add_item_to_cart,points_added,view_per_login,item_per_view,points_per_add,spend_per_order,cluster
0,5.066547,92.256659,0.658133,0.734187,0.359264,0.635827,4.545545,10.581148,4.281223,3.138312,2.782701,0.606040,0.972820,17.536642,5.317945
1,3.519992,50.333551,0.048151,0.087025,0.000000,0.021560,0.486999,0.874494,0.160983,0.069385,0.433276,0.026270,0.033445,14.135517,4.000000
2,1.224911,60.047596,0.086341,0.100489,0.049187,0.081846,1.629644,14.037551,4.823086,0.810922,8.925047,0.359051,0.205776,38.373130,0.994579
3,1.962404,43.670653,0.348536,0.378737,0.151310,0.342373,1.551618,14.134669,5.563636,1.200616,10.869354,1.587733,0.316071,15.972556,2.603698
4,60.254255,988.723000,5.366489,5.698404,1.087766,5.053723,24.562234,49.497872,18.012766,38.270213,2.770408,0.471353,7.550468,21.861343,7.332447

In [95]:
df['population']=[16094, 15306, 7563, 3245, 1880]

In [96]:
df

,order_times,order_spend,total_comment,sub_times,voucher_times,cancelled,login,view_product,add_item_to_cart,points_added,view_per_login,item_per_view,points_per_add,spend_per_order,cluster,population
0,5.066547,92.256659,0.658133,0.734187,0.359264,0.635827,4.545545,10.581148,4.281223,3.138312,2.782701,0.606040,0.972820,17.536642,5.317945,16094
1,3.519992,50.333551,0.048151,0.087025,0.000000,0.021560,0.486999,0.874494,0.160983,0.069385,0.433276,0.026270,0.033445,14.135517,4.000000,15306
2,1.224911,60.047596,0.086341,0.100489,0.049187,0.081846,1.629644,14.037551,4.823086,0.810922,8.925047,0.359051,0.205776,38.373130,0.994579,7563
3,1.962404,43.670653,0.348536,0.378737,0.151310,0.342373,1.551618,14.134669,5.563636,1.200616,10.869354,1.587733,0.316071,15.972556,2.603698,3245
4,60.254255,988.723000,5.366489,5.698404,1.087766,5.053723,24.562234,49.497872,18.012766,38.270213,2.770408,0.471353,7.550468,21.861343,7.332447,1880

In [97]:
ranks=['order_times', 'order_spend', 'total_comment', 'sub_times',
       'voucher_times', 'cancelled', 'login', 'view_product',
       'add_item_to_cart', 'points_added', 'view_per_login', 'item_per_view',
       'points_per_add', 'spend_per_order']

In [98]:
r = df

In [99]:
for i in ranks:
    print('rank_',i)

rank_ order_times
rank_ order_spend
rank_ total_comment
rank_ sub_times
rank_ voucher_times
rank_ cancelled
rank_ login
rank_ view_product
rank_ add_item_to_cart
rank_ points_added
rank_ view_per_login
rank_ item_per_view
rank_ points_per_add
rank_ spend_per_order

In [100]:
for i in ranks:    
    r['rank_',i] = r[i].rank(method="first")

In [101]:
r

,order_times,order_spend,total_comment,sub_times,voucher_times,cancelled,login,view_product,add_item_to_cart,points_added,...,"(rank_, voucher_times)","(rank_, cancelled)","(rank_, login)","(rank_, view_product)","(rank_, add_item_to_cart)","(rank_, points_added)","(rank_, view_per_login)","(rank_, item_per_view)","(rank_, points_per_add)","(rank_, spend_per_order)"
0,5.066547,92.256659,0.658133,0.734187,0.359264,0.635827,4.545545,10.581148,4.281223,3.138312,...,4.0,4.0,4.0,2.0,2.0,4.0,3.0,4.0,4.0,3.0
1,3.519992,50.333551,0.048151,0.087025,0.000000,0.021560,0.486999,0.874494,0.160983,0.069385,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.224911,60.047596,0.086341,0.100489,0.049187,0.081846,1.629644,14.037551,4.823086,0.810922,...,2.0,2.0,3.0,3.0,3.0,2.0,4.0,2.0,2.0,5.0
3,1.962404,43.670653,0.348536,0.378737,0.151310,0.342373,1.551618,14.134669,5.563636,1.200616,...,3.0,3.0,2.0,4.0,4.0,3.0,5.0,5.0,3.0,2.0
4,60.254255,988.723000,5.366489,5.698404,1.087766,5.053723,24.562234,49.497872,18.012766,38.270213,...,5.0,5.0,5.0,5.0,5.0,5.0,2.0,3.0,5.0,4.0

In [103]:
outputpath='C:/Users/chenyuzhou/Desktop/analysis_mean2.csv'
r.to_csv(outputpath,sep=',',index=False,header=True)